/* layout */

.home-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 60px 20px;
    margin: 20px 60px; 
    flex: 1; /*GPT CODE*/
}

/* home title - might be able to get rid of this but keeping in case of conflict between case studies and others */
.home-title {
    grid-column: 1 / span 2;
    grid-row-start: 2;
    margin: 0;
    font-family: var(--fontFamily);
    color: var(--primaryTextColor);
    font-size: var(--fontSizeXL);
}

/* case cards */

#case-1 {
    grid-row-start: 4;
    grid-column-start: 1;
}

#case-2 {
    grid-row-start: 4;
    grid-column-start: 2;
}

#case-3 {
    grid-row-start: 4;
    grid-column-start: 3;
}
.case-card {
    display: flex;
    flex-direction: column;
}

.card-img { /* FIX THIS LCI Not the right aspect ratio*/
    width: 100%;
    height: auto;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.card-img:hover {
    opacity: .5;
}

/* arrow hover - transition in CSS */
.home-case-title {
    display: inline-flex;
    align-items: center;
    column-gap: 16px;
}

.arrow {
    font-size: 28px;
    font-family: var(--fontFamily);
    font-weight: 400;
}

.home-case-title:hover .arrow {
    transition: transform 300ms;
    transform: translateX(24px);
    transition-delay: 150ms;
}

/* resume section */

.resume-item {
    border-top: var(--border);
    grid-row-start: 5;
    padding-bottom: 60px;
}

.resume-link {
    display: inline-flex;
    align-items: center;
    column-gap: 16px;
}

.resume-link:hover {
    text-decoration: none;
    cursor: pointer;
}
.resume-link:hover .arrow {
    cursor: pointer;
    transition: transform 300ms;
    transform: translateX(24px);
    transition-delay: 150ms;
}

#resume-1 {
    grid-column: 1 / span 1;
}

#resume-2 {
    grid-column: 2 / span 1;
}

#resume-3 {
    grid-column: 3 / span 1;
}

/* media queries */
@media screen and (max-width: 768px) {
    .home-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 10px;
        width: auto;
        grid-gap: 20px 20px;
    }

    .home-title {
        margin: 40px 0px;
        font-size: var(--fontSizeL);
        line-height: 1.2;
    }

    .home-case-title h2 {
        margin: 10px 0px;
    }

    .case-desc {
        margin-top: 0px;
    }

}

@media screen and (min-width: 481px) and (max-width: 980px) {
    .home-title {
        margin: 40px 10px;
        font-size: var(--fontSizeXL);
    }

}