/* Layout */
.home-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px 20px;
    margin: 20px 60px; 
    flex: 1; 
}

/* Home title */
.home-title {
    grid-column: 1 / span 2;
    grid-row-start: 2;
    font-family: var(--fontFamily);
    color: var(--primaryTextColor);
    font-size: var(--fontSizeXL);
    line-height: 1.2;
}

/* Case cards 
#case-1 { grid-row-start: 4; grid-column-start: 1; }
#case-2 { grid-row-start: 4; grid-column-start: 2; }
#case-3 { grid-row-start: 4; grid-column-start: 3; }*/

.case-wrapper-4 {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.case-wrapper-2 {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
}

.case-card {
    display: flex;
    flex-direction: column;
}

.card-img { 
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out 100ms;
    border-radius: 20px;
}

.card-img:hover {
    opacity: 0.5;
}

.case-desc {
    max-width: 90%;
}

/* Arrow hover animation */
.home-case-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0px;
    max-width: 95%;
}

.home-case-title h2 {
    display: inline;
    line-height: 1.2;
}

.arrow {
    font-size: 28px;
    font-family: var(--fontFamily);
    font-weight: 400;
    transition: transform 300ms 150ms;
    display: inline-block;
    flex-shrink: 0;
    margin-left: 10px;
    white-space: nowrap;
}


.case-card:hover .arrow,
.resume-link:hover .arrow {
    transform: translateX(24px);
}

/* Resume section */
.resume-item {
    border-top: var(--border);
    grid-row-start: 5;
    padding: 20px 0px 60px 0px;
}

.resume-link {
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    transition: text-decoration 300ms 150ms;
}

.resume-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.resume-item p {
    display: block;
    line-height: 1.5;
}

#resume-1 { grid-column: 1 / span 1; align-self: flex-start; }
#resume-2 { grid-column: 2 / span 1; }
#resume-3 { grid-column: 3 / span 1; }

/* Media queries */
@media screen and (max-width: 768px) {
    .home-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 20px;
        grid-gap: 20px;
    }

    .home-title {
        margin: 40px 0;
        font-size: var(--fontSizeL);
        line-height: 1.2;
    }

    .home-case-title h2 {
        margin: 10px 0;
        font-size: 28px;
    }

    .case-wrapper-4 {
        display: flex;
        flex-direction: column;
    }

    .case-wrapper-2 {
        display: flex;
        flex-direction: column;
    }

    .case-card {
        margin: 20px 0px;
    }
    .case-desc {
        margin-top: 0;
    }

    .resume-link {
        text-decoration: underline;
    }

    .resume-item {
        border-top: var(--border);
        width: 100%;


}
}


@media screen and (min-width: 481px) and (max-width: 1024px) {
    .home-title {
        margin: 0px 10px;
        font-size: var(--fontSizeL);
    }

    .resume-item {
        border-top: var(--border);
        width: 100%;
    }

    .case-wrapper-4 {
        display: flex;
        flex-direction: column;
    }

}