//global/root
:root {
    --fontFamily: 'Helvetica', sans-serif;
    --bgColor: #f2f2f2;
    --primaryTextColor: #333333;
    --blackColor: #333333;
    --stroke: 1px solid #333333;
    --fontSizeXL: 3.5rem; //h1, 56px
    --fontSizeL: 1.75rem; //28px, subheaders
    --fontSizeM: 1.25rem; //20px descriptions
    --fontSizeS: 1rem; //16px contents, body, nav
    --fontSizeXS:.75rem; //12px captions
    --borderRadius: 8px;
}

@mixin homeTitle {
    font-family: var(--fontFamily);
    color: var(--primaryTextColor);
    font-size: var(--fontSizeXL);
}

@mixin subhead {
    font-family: var(--fontFamily);
    color: var(--primaryTextColor);
    font-size: var(--fontSizeL);
}

@mixin description {
    font-family: var(--fontFamily);
    color: var(--primaryTextColor);
    font-size: var(--fontSizeM);
}

a {
    color: var(--primaryTextColor);
    text-decoration: none;
}

a:hover {
    color: var(--primaryTextColor);
    text-decoration: none;
}
//home specific
.home-title {
    font-family: var(--fontFamily);
    color: var(--primaryTextColor);
}
//components


//case cards
.case-card {
    display: flex;
}
//arrow hover - transition in CSS
.home-case-title {
	display: inline-flex;
	align-items: center;
	column-gap: 16px;
}

.arrow {
	font-size: 28px;
	font-family: 'Helvetica';
	font-weight: 400;
}

.home-case-title:hover .arrow {
	transition: transform 300ms;
	transform: translateX(24px);
	transition-delay: 150ms;
}

//header

//footer

@media screen and (max-width: 768px) {
    
}

