/* global/root */
:root {
    --fontFamily: 'Helvetica', sans-serif;
    --bgColor: #f2f2f2;
    --primaryTextColor: #333333;
    --black: #333333;
    --border: 1px solid #333333;
    --fontSizeXL: 3.5rem; /* h1, 56px */
    --fontSizeL: 1.75rem; /* 28px, subheaders */
    --fontSizeM: 1.25rem; /* 20px descriptions */
    --fontSizeS: 1rem; /* 16px contents, body, nav */
    --fontSizeXS: .75rem; /* 12px captions */
    --borderRadius: 8px;
}

body {
    font-family: var(--fontFamily);
    background-color: var(--bgColor);
    color: var(--primaryTextColor);
}

/* typography */
.subhead {
    font-family: var(--fontFamily);
    color: var(--primaryTextColor);
    font-size: var(--fontSizeL);
}

.description {
    font-family: var(--fontFamily);
    color: var(--primaryTextColor);
    font-size: var(--fontSizeM);
}

a, p, h1, h2 {
    font-family: var(--fontFamily);
    color: var(--primaryTextColor);
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: var(--fontSizeS);
}

h1 {
    font-family: var(--fontFamily);
    color: var(--primaryTextColor);
    font-size: var(--fontSizeXL);
}

h2 { /* check that this includes the case study headers? */
    font-family: var(--fontFamily);
    color: var(--primaryTextColor);
    font-size: var(--fontSizeL);
}

/* components */

/* layout */

.home-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 100px);
    grid-gap: 20px;
    margin: 20px 60px;
}

/* home title - might be able to get rid of this but keeping in case of conflict between case studies and others */
.home-title {
    grid-column: 1 / span 2;
    grid-row-start: 2;
    margin: 0;
    font-family: var(--fontFamily);
    color: var(--primaryTextColor);
    font-size: var(--fontSizeXL);
}

/* case cards */

.card-container { /* may need to check this for alignment and maybe switch to grid on individual cards? */
    grid-row-start: 5;
    grid-column: 1 / span 3;
    display: flex;
    flex-direction: row;
}

.case-card {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}

.card-img { /* FIX THIS LCI Not the right aspect ratio*/
    width: 100%;
    height: auto;
}

/* arrow hover - transition in CSS */
.home-case-title {
    display: inline-flex;
    align-items: center;
    column-gap: 16px;
}

.arrow {
    font-size: 28px;
    font-family: var(--fontFamily);
    font-weight: 400;
}

.home-case-title:hover .arrow {
    transition: transform 300ms;
    transform: translateX(24px);
    transition-delay: 150ms;
}

/* resume section */
.resume-container { /* same, do I need except for media queries? */
    grid-row-start: 10;
    grid-column: 1 / span 3;
    display: flex;
    flex-direction: row;
}

.resume-item {
    border-top: var(--border);
    margin: 0px 20px;
    width: 1fr;
}

/* header */

/* footer */

/* media queries */
@media screen and (max-width: 768px) {
    
}
