//global/root
body {
    $fontFamily: 'Helvetica', sans-serif;
    $bgColor: #f2f2f2;
    $primaryTextColor: #333333;
    $black: #333333;
    $border: 1px solid #333333;
    $fontSizeXL: 3.5rem; //h1, 56px
    $fontSizeL: 1.75rem; //28px, subheaders
    $fontSizeM: 1.25rem; //20px descriptions
    $fontSizeS: 1rem; //16px contents, body, nav
    $fontSizeXS:.75rem; //12px captions
    $borderRadius: 8px;
}

//typography
@mixin subhead {
    font-family: $fontFamily;
    color: $primaryTextColor;
    font-size: $fontSizeL;
}

@mixin description {
    font-family: $fontFamily;
    color: $primaryTextColor;
    font-size: $fontSizeM;
}

a, p, h1, h2 {
    font-family: $fontFamily;
    color: $primaryTextColor;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: $fontSizeS;
}

h1 {
    font-family: $fontFamily;
    color: $primaryTextColor;
    font-size: $fontSizeXL;
}

h2 { //check that this includes the case study headers?
    @include subhead;
}

//components

//layout

.home-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 100px);
    grid-gap: 20px;
    margin: 20px 60px;
}

//home title - might be able to get rid of this but keeping in case of conflict between case studies and others 
.home-title {
    grid-column: 1 / span 2;
    grid-row-start: 2; //need span?
    font-family: $fontFamily;
    color: $primaryTextColor;
    font-size: $fontSizeXL;
}


//case cards
//do I need a container for the card set? maybe only for mobile queries

.case-card {
    display: flex;
}

.card-img {
    width: 100%;
    height: auto;
}
//arrow hover - transition in CSS
.home-case-title {
	display: inline-flex;
	align-items: center;
	column-gap: 16px;
}

.arrow {
	font-size: 28px;
	font-family: $fontFamily;
	font-weight: 400;
}

.home-case-title:hover .arrow {
	transition: transform 300ms;
	transform: translateX(24px);
	transition-delay: 150ms;
}

//header

//footer

//media queries
@media screen and (max-width: 768px) {
    
}

