/* global/root */
:root {
    --fontFamily: 'Helvetica', sans-serif;
    --bgColor: #f2f2f2;
    --primaryTextColor: #333333;
    --black: #333333;
    --border: 1px solid #333333;
    --fontSizeXL: 2.6rem; /* h1,  */
    --fontSizeL: 1.75rem; /* 28px, subheaders */
    --fontSizeM: 1.25rem; /* 20px descriptions */
    --fontSizeS: 1rem; /* 16px contents, body, nav */
    --fontSizeXS: .75rem; /* 12px captions */
    --borderRadius: 8px;
}

body {
    font-family: var(--fontFamily);
    background-color: var(--bgColor);
    color: var(--primaryTextColor);
    display: flex;
    flex-direction: column;
    height: 100vh; /*GPT CODE*/
}

/* typography */
.subhead {
    font-family: var(--fontFamily);
    color: var(--primaryTextColor);
    font-size: var(--fontSizeL);
}

.description {
    font-family: var(--fontFamily);
    color: var(--primaryTextColor);
    font-size: var(--fontSizeM);
}

a, p, h1, h2 {
    font-family: var(--fontFamily);
    color: var(--primaryTextColor);
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: var(--fontSizeS);
}

h1 {
    font-family: var(--fontFamily);
    color: var(--primaryTextColor);
    font-size: var(--fontSizeXL);
}

h2 { /* check that this includes the case study headers? */
    font-family: var(--fontFamily);
    color: var(--primaryTextColor);
    font-size: var(--fontSizeL);
}



